// Fonts
$font-main: 'Amazon Ember', sans-serif;

// Sizes
$size-heading: 30px;
$size-small-heading: 22px;
$size-medium: 18px;
$size-standard: 16px;
$size-small: 14px;


// colors
$color-main: #5dffc9;